// font-family: 'Playfair Display', serif;
// font-family: 'Gilroy';
    
html {
    // min-height: 100vh; /* sticky footer */
	scroll-behavior: smooth;
}

body {
	// min-height: 100vh; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */

	font-family: 'Gilroy';
    color: $color;
    font-size: 16px;
    line-height: 1.6875;

    background-color: #0B1D26;
    background-image: url("./../img/bg.jpg");
	background-size: 100% auto;
    background-repeat: no-repeat;

    text-rendering: optimizeSpeed;
    //text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body > * {
	// flex-shrink: 0; /* sticky footer */
}

section {
	// position: relative;
}

/* Grid styles */

.container {
	max-width: 1492px;
    width: 100%;
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

    /* Tablet big*/
    @media (max-width: 1200px) {
        max-width: 800px;
    }

    /* Tablet */
    @media (max-width: 800px) {
        max-width: 550px;
    }

    /* Mobile */
    @media (max-width: 550px) {
        max-width: 100%;
    }
}

/* Utility */

.none {
	display: none !important;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}